.list li {
  font-family: Inter !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  display: flex !important;
  padding-left: 5% !important;
  align-items: center !important;
  color: #838899 !important;
}
.headsader {
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  display: flex !important;
  align-items: center !important;

  color: #2f2a26 !important;
}

.head {
  font-family: Inter !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 20px !important;

  display: flex;
  align-items: center;

  color: #2f2a26 !important;
}
