.home_heading_typo {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 34px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;

  color: #202020 !important;
}
.home_heading {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 5% 0 0 0;
}
.homegrid {
  padding: 2% 8% !important;
}
.grid_heading {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  line-height: 130%;
  /* or 29px */

  display: flex !important;
  align-items: center !important;
  letter-spacing: -0.015em !important;

  color: #000000 !important;
}
.grid_para {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 20px !important;
  /* or 20px */

  display: flex !important;
  align-items: center !important;

  color: #838899 !important;
}
.home_btn {
  background: #f76820 !important;
  box-shadow: 0px 8px 20px rgba(175, 59, 0, 0.16) !important;
  border-radius: 11px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: #ffffff !important;
  width: 200px !important;
  height: 57.89px !important;
}
.btn_div {
  display: flex !important;
  justify-content: center !important;
  padding: 3% !important;
  /* border-bottom: 1px solid !important; */
  /* margin-bottom: 2% !important; */
}

.home_bottom_gird {
  padding: 2% 6% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  box-sizing: border-box !important;
  box-shadow: 0px 33px 36px rgba(87, 31, 0, 0.06) !important;
  border-radius: 30px !important;
}
.grid_btm {
  padding: 0 5%;
  display: flex !important;
  justify-content: space-around !important;
  margin-bottom: 10%;
}
.readmore {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  /* margin-top: 5% !important; */
  color: #4b403a !important;
}
.readmorediv {
  display: flex !important;
}
.divider {
  width: 2px !important;
  height: 45px;
  background: #e1e1e1 !important;
  display: block;
  padding-top: 11px;
  margin: 9px 0 0 2%;
}
.footer_btn {
  border-radius: 11px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: #a39b96 !important;
  width: 200px !important;
  height: 57.89px !important;
}
.footertypo {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 42px !important;

  color: #000000 !important;
}
.footerpara {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 20px !important;

  color: #000000 !important;
}
.fottergrid {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  padding-left: 5% !important;
}
.servicesdiv {
  background: l !important;
  padding: 5% 0 5% 0 !important;
  margin-bottom: 5% !important;
}

.service {
}
.servicegrid {
  /* padding: 20% !important; */
  margin: 0 11px !important;
  padding: 0 !important;
  background: whitesmoke !important;
  border-radius: 20px !important;
}
.Customerreviewcaruseldiv1 {
  width: 80% !important;
  margin: auto !important;
}

.react-multiple-carousel__arrow--right {
  right: 5% !important;
  color: #4b403a !important;
}
.react-multiple-carousel__arrow--left {
  left: 5% !important;
}
.react-multiple-carousel__arrow {
  background: none !important;
}
.react-multiple-carousel__arrow::before {
  color: #4b403a !important;
  /* font-weight: 600 !important; */
}
.react-multi-carousel-list {
  display: flex !important;
  align-items: center !important;
  overflow: hidden !important;
  position: initial;
}
.customername {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 130% !important;
  /* identical to box height, or 21px */
  text-align: center !important;
  letter-spacing: -0.015em;
  color: #8b8f9f !important;
  padding-top: 5% !important;
}
.customerdescription {
  font-style: normal;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 130% !important;
  /* or 31px */

  text-align: center !important;
  letter-spacing: -0.015em;

  color: #4b403a !important;
  padding-bottom: 5% !important;
}
.carouselheading {
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 36px !important;
  line-height: 123%;
  /* or 44px */
  text-align: center !important;
  color: #000000 !important;
  padding-bottom: 2% !important;
}
.border {
  width: 2px !important;
  height: 40px !important;
  background: #d0d0d0;
  margin-right: 110px !important;
}
.border2 {
  width: 2px !important;
  height: 40px !important;
  background: #d0d0d0;
  margin-left: 200px !important;
}
.bottomborder {
  display: flex !important;
  padding-left: 14% !important;
  padding-top: 3% !important;
  padding-bottom: 4% !important;
}
.arrow_ {
  padding-left: 7px !important;
  padding-top: 5px !important;
}
@media only screen and (max-width: 900px) {
  .home_bottom_gird {
    margin-bottom: 5% !important;
  }
}
@media only screen and (max-width: 600px) {
  .home_btn {
    font-size: 12px !important;
  }
  .footer_btn {
    font-size: 12px !important;
  }
  .footer_img {
    padding-top: 2% !important;
  }
  .footertypo {
    font-size: 33px !important;
  }
  .footerpara {
    font-size: 17px !important;
  }
  .carouselheading {
    font-size: 24px !important;
  }
  .home_heading_typo {
    font-size: 24px !important;
  }
  .bottomborder {
    padding-left: 20% !important;
  }
  .border2 {
    margin-left: 88px !important;
  }
}
